<div>
  <h1 class="top-heading">Carosal Ads Only Pages</h1>
</div>

<div>
  <!-- [centeredSlides]="true" -->
  <swiper
    [slidesPerView]="4"
    [spaceBetween]="30"
    [navigation]="true"
    
    [autoplay]="{
      delay: 2500,
      disableOnInteraction: false
    }"
    [breakpoints]="{
      '320': {
        slidesPerView: 1,
        spaceBetween: 20
      },
      '768': {
        slidesPerView: 2,
        spaceBetween: 20
      },
      '1024': {
        slidesPerView: 3,
        spaceBetween: 30
      },
      '1440': {
        slidesPerView: 4,
        spaceBetween: 30
      }
    }"
    class="mySwiper"
  >
    <ng-template swiperSlide
      ><div class="card">
        <div class="card1">
          <div class="Card1_top_text">
            <div class="text1">
              <span>Hello</span>
              <span>12:00pm</span>
              <i class="fa-solid fa-battery-empty"></i>
            </div>
            <div class="text2">
              <p>Instagram</p>
              <i class="fa-solid fa-road"></i>
            </div>
          </div>
          <div class="Card1_top_text2">
            <i class="fa-brands fa-stack-overflow"></i>
            <i class="fa-brands fa-stack-overflow"> hello</i>
          </div>
          <img src="../../../assets/download.jpg" alt="" />
          <div class="img_bottom_icon">
            <div>
              <i class="fa-regular fa-heart"></i>
              <i class="fa-regular fa-comment"></i>
            </div>
            <div>
              <button class="btn1">See More</button>
            </div>
          </div>
          <div class="bottom_text">
            <p>
              Success is not final; failure is not fatal: It is the courage to
              continue that counts.
            </p>
          </div>
          <div class="bottom_icon">
            <i class="fa-solid fa-house"></i>
            <i class="fa-solid fa-magnifying-glass"></i>
            <i class="fa-solid fa-camera"></i>
            <i class="fa-regular fa-comment"></i>
            <i class="fa-regular fa-user"></i>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide
      ><div class="card">
        <div class="card1">
          <div class="Card1_top_text">
            <div class="text1">
              <span>Hello</span>
              <span>12:00pm</span>
              <i class="fa-solid fa-battery-empty"></i>
            </div>
            <div class="text2">
              <p>Instagram</p>
              <i class="fa-solid fa-road"></i>
            </div>
          </div>
          <div class="Card1_top_text2">
            <i class="fa-brands fa-stack-overflow"></i>
            <i class="fa-brands fa-stack-overflow"> hello</i>
          </div>
          <img src="../../../assets/download.jpg" alt="" />
          <div class="img_bottom_icon">
            <div>
              <i class="fa-regular fa-heart"></i>
              <i class="fa-regular fa-comment"></i>
            </div>
            <div>
              <button class="btn1">See More</button>
            </div>
          </div>
          <div class="bottom_text">
            <p>
              Success is not final; failure is not fatal: It is the courage to
              continue that counts.
            </p>
          </div>
          <div class="bottom_icon">
            <i class="fa-solid fa-house"></i>
            <i class="fa-solid fa-magnifying-glass"></i>
            <i class="fa-solid fa-camera"></i>
            <i class="fa-regular fa-comment"></i>
            <i class="fa-regular fa-user"></i>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide
      ><div class="card">
        <div class="card1">
          <div class="Card1_top_text">
            <div class="text1">
              <span>Hello</span>
              <span>12:00pm</span>
              <i class="fa-solid fa-battery-empty"></i>
            </div>
            <div class="text2">
              <p>Instagram</p>
              <i class="fa-solid fa-road"></i>
            </div>
          </div>
          <div class="Card1_top_text2">
            <i class="fa-brands fa-stack-overflow"></i>
            <i class="fa-brands fa-stack-overflow"> hello</i>
          </div>
          <img src="../../../assets/download.jpg" alt="" />
          <div class="img_bottom_icon">
            <div>
              <i class="fa-regular fa-heart"></i>
              <i class="fa-regular fa-comment"></i>
            </div>
            <div>
              <button class="btn1">See More</button>
            </div>
          </div>
          <div class="bottom_text">
            <p>
              Success is not final; failure is not fatal: It is the courage to
              continue that counts.
            </p>
          </div>
          <div class="bottom_icon">
            <i class="fa-solid fa-house"></i>
            <i class="fa-solid fa-magnifying-glass"></i>
            <i class="fa-solid fa-camera"></i>
            <i class="fa-regular fa-comment"></i>
            <i class="fa-regular fa-user"></i>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide
      ><div class="card">
        <div class="card1">
          <div class="Card1_top_text">
            <div class="text1">
              <span>Hello</span>
              <span>12:00pm</span>
              <i class="fa-solid fa-battery-empty"></i>
            </div>
            <div class="text2">
              <p>Instagram</p>
              <i class="fa-solid fa-road"></i>
            </div>
          </div>
          <div class="Card1_top_text2">
            <i class="fa-brands fa-stack-overflow"></i>
            <i class="fa-brands fa-stack-overflow"> hello</i>
          </div>
          <img src="../../../assets/download.jpg" alt="" />
          <div class="img_bottom_icon">
            <div>
              <i class="fa-regular fa-heart"></i>
              <i class="fa-regular fa-comment"></i>
            </div>
            <div>
              <button class="btn1">See More</button>
            </div>
          </div>
          <div class="bottom_text">
            <p>
              Success is not final; failure is not fatal: It is the courage to
              continue that counts.
            </p>
          </div>
          <div class="bottom_icon">
            <i class="fa-solid fa-house"></i>
            <i class="fa-solid fa-magnifying-glass"></i>
            <i class="fa-solid fa-camera"></i>
            <i class="fa-regular fa-comment"></i>
            <i class="fa-regular fa-user"></i>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide
      ><div class="card">
        <div class="card1">
          <div class="Card1_top_text">
            <div class="text1">
              <span>Hello</span>
              <span>12:00pm</span>
              <i class="fa-solid fa-battery-empty"></i>
            </div>
            <div class="text2">
              <p>Instagram</p>
              <i class="fa-solid fa-road"></i>
            </div>
          </div>
          <div class="Card1_top_text2">
            <i class="fa-brands fa-stack-overflow"></i>
            <i class="fa-brands fa-stack-overflow"> hello</i>
          </div>
          <img src="../../../assets/download.jpg" alt="" />
          <div class="img_bottom_icon">
            <div>
              <i class="fa-regular fa-heart"></i>
              <i class="fa-regular fa-comment"></i>
            </div>
            <div>
              <button class="btn1">See More</button>
            </div>
          </div>
          <div class="bottom_text">
            <p>
              Success is not final; failure is not fatal: It is the courage to
              continue that counts.
            </p>
          </div>
          <div class="bottom_icon">
            <i class="fa-solid fa-house"></i>
            <i class="fa-solid fa-magnifying-glass"></i>
            <i class="fa-solid fa-camera"></i>
            <i class="fa-regular fa-comment"></i>
            <i class="fa-regular fa-user"></i>
          </div>
        </div>
      </div>
    </ng-template>
  </swiper>
</div>

<div style="margin-top: 100px;" class="border">
  <div>
    <img
      src="https://static.youthop.com/uploads/sites/2/2020/02/daraz-ad-creator-hunt-2020-in-bangladesh.jpg"
      alt=""
    />
  </div>
  <div>
    <img
      src="https://static.youthop.com/uploads/sites/2/2020/02/daraz-ad-creator-hunt-2020-in-bangladesh.jpg"
      alt=""
    />
  </div>
  <div>
    <img
      src="https://static.youthop.com/uploads/sites/2/2020/02/daraz-ad-creator-hunt-2020-in-bangladesh.jpg"
      alt=""
    />
  </div>
  <div>
    <img
      src="https://static.youthop.com/uploads/sites/2/2020/02/daraz-ad-creator-hunt-2020-in-bangladesh.jpg"
      alt=""
    />
  </div>
</div>
<div class="middle-img">
  <img
    src="https://beebot-sg-knowledgecloud.oss-ap-southeast-1.aliyuncs.com/kc/kc-media/kc-oss-1665913956634-How%20to%20place%20an%20order%20on%20Daraz%20ENG.gif"
    alt=""
  />
</div>
<div class="bottom-img">
  <img
    src="https://www.brandsynario.com/wp-content/uploads/2021/11/daraz-new-1.jpg"
    alt=""
  />
</div>
