<section class="bg-container">
  <div class="comment-container">
    <div class="comment-box">
      <svg
        class="icon"
        xmlns="http://www.w3.org/2000/svg"
        height="48"
        width="48"
      >
        <path
          d="M12 28h24v-3H12Zm0-6.5h24v-3H12Zm0-6.5h24v-3H12Zm32 29-8-8H7q-1.15 0-2.075-.925Q4 34.15 4 33V7q0-1.15.925-2.075Q5.85 4 7 4h34q1.2 0 2.1.925Q44 5.85 44 7ZM7 7v26h30.25L41 36.75V7H7Zm0 0v29.75V7Z"
        />
      </svg>
      <span class="icon-text">Comment</span>
    </div>
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Input field</mat-label>
        <textarea matInput placeholder="It makes me feel..."></textarea>
      </mat-form-field>
    </div>
    <button class="next-btn">Next>>></button>
  </div>
  <div class="visit-container">
    <button class="visit-btn">VISIT US</button>
  </div>
    <div class="bottom-btn">
      <div>
        <button class="like-btn">
          <mat-icon class="like-icon">thumb_up</mat-icon>Like
        </button>
      </div>
      <div>
        <img
          src="https://miro.medium.com/max/800/1*fELagcLfhq8Pn6hlhCrGnw.png"
          alt=""
        />
      </div>
    </div>
</section>
<section class="eoi-expression">
  <div class="container">
    <div class="log-in-form">
      <div class="border-box"></div>
    </div>
  </div>
</section>
