//card css start

.card {
  margin-top: 30px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  .Card1_top_text {
    background-color: #204e70;
    color: #fff;
    padding: 0 10px;
    padding-top: 10px;

    .text1 {
      display: flex;
      justify-content: space-between;
      padding-bottom: 10px;
    }
    .text2 {
      font-family: "Cookie", cursive;
      display: flex;
      justify-content: flex-end;
      gap: 100px;
    }
  }
  .Card1_top_text2 {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
  }
  img {
    width: 100%;
  }
  .img_bottom_icon {
    display: flex;
    justify-content: space-between;
    i {
      padding-left: 10px;
    }
    .btn1 {
      border: 1px solid #00b050;
      background: none;
      padding: 5px;
      color: #00b050;
    }
  }
  .bottom_text {
    padding: 15px 0;
  }
  .bottom_icon {
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    padding: 10px;
  }
}
//card end

//middle section start


.select-blood {
  text-align: center;
  color: #ff0000;
  padding: 15px;
  font-size: 32px;
  font-weight: 900;
  margin: 0;
  border-top: 3px solid green;
  border-bottom: 3px solid green;
}

// middle section end

.eoi-expression {
  padding: 50px 0;
}
.container {
  display: block;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.eoi-expression-form {
  //   background-color: #000000;
  height: auto;

  .border-box {
    // border: 1px solid white;
    height: auto;
    // background-color: #fff;
    padding: 10px;
  }
}
.border {
  border: 3px solid rgb(0, 0, 0);
}
.border1 {
  border-bottom: 3px solid rgb(0, 0, 0);
  padding: 10px;
}
.input-field {
  max-width: 600px;
  ::ng-deep .mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    width: 100%;
  }
}
@media (max-width: 1000px) {
  .log-in-form {
    // border: 2px solid black;
    border-radius: 15px;
    padding: 20px;
    background-color: #9bb6e4;
    height: auto;

    .border-box {
      // border: 1px solid black;
      // border-radius: 15px;
      height: auto;
      background-color: #fff;
      padding: 10px 0;
      h1 {
        padding-top: 20px;
        text-align: center;
        font-size: 20px;
        font-weight: 300;
        line-height: 1;
      }
      p {
        text-align: center;
        font-size: 16px;
        font-weight: 300;
        line-height: 1;
        padding: 20px 0 20px 0;
      }
    }
  }
  .input-field {
    max-width: 600px;
    ::ng-deep .mat-form-field {
      display: inline-block;
      position: relative;
      text-align: left;
      width: 100%;
    }
  }
  .small {
    max-width: 100px;
    display: grid !important;
    grid-template-columns: repeat(4, 1fr) !important;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;

    .input-field {
      max-width: 120px;
      ::ng-deep .mat-form-field {
        display: inline-block;
        position: relative;
        text-align: left;
        width: 100%;
      }
    }
  }

  ::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix {
    padding: 0.25em 0 0.75em 0;
    display: flex;
  }
  .h-two {
    margin-left: 15px !important;
  }
}
.input-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  // align-items: center;
  text-align: center;
  gap: 15px;
}
.input-field-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-field-age {
  // border-top: 3px solid;
  margin-bottom: 10px;
  .input-field {
    display: flex;
    align-items: center;
    max-width: 100px;
    gap: 15px;
  }
  // .input-field-icons{
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   gap: 5px;
  //   h4{
  //     font-weight: 500;
  //   }
  //   i{
  //     margin-bottom: 12px;
  //   }
  // }
}

.input-field-with-text {
  display: grid;
  grid-template-columns: 150px 1fr;
  align-items: center;
  max-width: 100px;
  gap: 15px;
}
.input-field-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
  h4 {
    font-weight: 500;
  }
  i {
    margin-bottom: 10px;
  }
}

.input-field-icons-hidden {
  visibility: hidden;
}
@media (max-width: 670px) {
  .input-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 450px) {
  .input-field-flex {
    flex-direction: column;
    align-items: flex-start;
    .input-field {
      width: 100%;
    }
  }
  .input-field-with-text {
    grid-template-columns: 1fr;
  }
  .input-field-icons {
    justify-content: flex-start;
    margin-left: 0;
    width: 100%;
    max-width: 200px;
    i {
      // margin-px;
    }
  }
}
@media (max-width: 650px) {
  .log-in-form {
    border-radius: 15px;
    padding: 20px;
    background-color: #9bb6e4;
    height: auto;

    .border-box {
      // border: 1px solid black;
      border-radius: 15px;
      height: auto;
      background-color: #fff;
      padding: 10px 0;
      h1 {
        padding-top: 20px;
        text-align: center;
        font-size: 20px;
        font-weight: 300;
        line-height: 1;
      }
      p {
        text-align: center;
        font-size: 16px;
        font-weight: 300;
        line-height: 1;
        padding: 20px 0 20px 0;
      }
      .dashboard {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px 0;
      }
      .two-button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
        margin: auto;
        gap: 15px;
        .button-one {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          background-color: #00b050;
          button {
            margin: auto !important;
            max-width: 300px;
            width: 100%;
            padding: 10px 0;
            font-size: 18px;
            color: #fff;
            border: 1px solid black;
            cursor: pointer;
          }
        }
        .button-two {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          button {
            background-color: #b00000;
            max-width: 300px;
            width: 100%;
            padding: 10px 0;
            font-size: 18px;
            color: #fff;
            border: 1px solid black;
            cursor: pointer;
          }
        }
      }
    }
  }
  .input-field {
    max-width: 600px;
    ::ng-deep .mat-form-field {
      display: inline-block;
      position: relative;
      text-align: left;
      width: 100%;
    }
  }
  .small {
    max-width: 100px;
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;

    // .input-field {
    //   max-width: 120px;
    //   ::ng-deep .mat-form-field {
    //     display: inline-block;
    //     position: relative;
    //     text-align: left;
    //     width: 100%;
    //   }
    // }
  }

  ::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix {
    padding: 0.25em 0 0.75em 0;
    display: flex;
  }
}

// .input-field {
//   max-width: 600px;
//   ::ng-deep .mat-form-field {
//     display: inline-block;
//     position: relative;
//     text-align: left;
//     width: 100%;
//   }
// }
// .small {
//   max-width: 100px;
//   display: grid !important;
//   grid-template-columns: repeat(6, 1fr);
//   align-items: center;
//   justify-content: flex-start;
//   gap: 5px;

//   .input-field {
//     max-width: 120px;
//     ::ng-deep .mat-form-field {
//       display: inline-block;
//       position: relative;
//       text-align: left;
//       width: 100%;
//     }
//   }
// }


//   ::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix {
//     padding: 0.25em 0 0.75em 0;
//     display: flex;
//   }

.radio-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
